# удалил зависимость из внутренного репозитория компании
attrs
certifi
Django==2.2.3
django-health-check==7.7.7-1 
django-metrics==1.0.11
django-redis==4.11.0
envparse
factory-boy
Faker
Pillow
psycopg2==2.7.6.1
psycopg2-binary==2.7.7
PyJWT==1.5.3
pyTelegramBotAPI==3.6.6
pytest==3.8.1
pytest-django==3.1.2
pytest-mock==1.10.4
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
schema==0.6.6
six==1.12.0
ujson==1.35
urllib3==1.21.1
django-request-id==1.0.0
Paste==2.*
coverage==4.5.2
pylint==2.3.0
pylint-django==2.0.6
pylint-plugin-utils==0.5
redis==3.3.11
smart-json-log-formatter==0.0.4
sentry-sdk==0.6.9
celery==4.3.1
django-celery-beat==1.4.0
newrelic==4.16.1.117
atlas-utils==1.0.0
cloudinary==1.20.0
django-mptt==0.11.0